header {
    border-bottom: 2px dashed #ccc;
}

/* navbar styles  */
.navbar {
    justify-content: space-between;
    padding: 1.25rem 0;
}

.brand-text {
    font-size: 2rem;
    font-weight: 700;
    margin-left: .4rem;
    color: #111111;
}

.navbar ul {
    list-style: none;
    gap: 2rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}


.contact-btn {
    background-color: #FEA301;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: .625rem 1.875rem;
    border: none;
    border-radius: 12px;
}

.mobile-icon {
    display: none;
    font-size: 4rem;
}

/* banner styles */
.banner {
    padding: 3rem 0 0 0;
}

.banner-content {
    max-width: 640px;
}

.banner-title {
    color: #111111;
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-des {
    color: #111111;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.enroll-btn,
.view-all {
    background-color: #111111;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 35px;
    border: none;
    border-radius: 12px;
}

.banner-img img {
    width: 100%;
}

/* marquee  */
marquee {
    font-size: 1.5rem;
}

/* curriculum styles */
.curriculum {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    padding: 60px 0;
    border-bottom: 2px dashed #ccc;
}

.curriculum-card-container {
    gap: 28px;
    margin-top: 80px;
    justify-content: space-between;
}

.curriculum-card {
    border-radius: 18px;
    padding: 40px;
}

.curriculum-card>.curriculum-card-title {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 32px;
}

.curriculum-card>.des {
    margin: 25px 0 30px 0;
}

.read-more {
    font-size: .937rem;
}

.curriculum-card:nth-child(1) {
    background-image: linear-gradient(360deg, #ffffff 40%, #def3fc);
    border: 1px solid #def3fc;
}

.curriculum-card:nth-child(2) {
    background-image: linear-gradient(360deg, #ffffff 40%, #fbf1dc);
    border: 1px solid #fbf1dc;
}

.curriculum-card:nth-child(3) {
    background-image: linear-gradient(360deg, #ffffff 40%, #ede1fc);
    border: 1px solid #ede1fc;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #FEA301;
    margin-top: 69px;
}

.arrow i {
    font-size: 40px;
}

/* stories styles */
.stories {
    padding: 60px 0;
    background-image: url('../assets/bg.png'), linear-gradient(#fff, #fbf1dc);
}

.stories-card-container {
    margin: 80px 0;
    gap: 20px;
}

.big-card {
    min-width: 10%;
    max-width: calc(50% - 20px);
}

.big-card img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.big-card-content {
    position: relative;
    max-width: 100%;
    padding: 17px 35px;
    background-color: #fff;
    border-radius: 0 0 16px 16px;
}

.big-card-btn span {
    border-radius: 47.93px;
    color: rgb(255, 255, 255);
    font-size: 15.34px;
    font-weight: 600;
    position: absolute;
    top: -25px;
    border: none;
    padding: 10px 20px;
    background: rgb(60, 216, 232);
}

.big-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 50px 0 35px 0;
}

.small-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: calc(50%);
}


.small-card .img-container img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.small-card-content {
    background-color: #fff;
    border-radius: 0 0 16px 16px;
    padding: 34px 16px;
    position: relative;
}

.small-card-title {
    color: rgb(0, 0, 0);
    font-size: 0.95875rem;
    font-weight: 700;
}

.small-card-btn span {
    border-radius: 47.93px;
    color: rgb(255, 255, 255);
    font-size: .9375rem;
    font-weight: 600;
    position: absolute;
    top: -25px;
    border: none;
    padding: 10px 20px;
    background: #95B226;
}

/* footer  */
footer {
    background-color: #01ACFD;
    padding: 100px 0;
    overflow: hidden;
}

.footer-row .footer-des {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1.5rem 0;
    width: 399px;
    color: #fff;
}

.footer-row .footer-col-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 50px 0 35px 0;
    margin-top: 0;
}

.footer-row .col ul {
    list-style: none;
}

.footer-row ul li {
    margin-bottom: 20px;
}

.footer-row ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

/* media query styles */
@media screen and (max-width: 576px) {
    html {
        font-size: 9px;
    }

    header {
        border: none;
    }

    /* navbar  */
    .navbar {
        padding: .5rem 1.5rem;
        border-bottom: 1px solid #FEA301;
    }

    .nav,
    .btn-container,
    .brand-text,
    .big-card {
        display: none;
    }

    .brand-logo {
        font-size: 0.1rem;
    }

    .mobile-icon {
        display: block;
    }

    /* banner  */
    .banner {
        flex-direction: column-reverse;
        padding: 0 1.5rem;
        text-align: center;
    }

    .banner-content {
        padding: 1.77rem 0;
    }

    .enroll-btn,
    .view-all {
        font-size: 1.66rem;
    }

    /* marque */
    marquee {
        font-size: 15px;
    }

    /* curriculum  */
    .curriculum {
        border: none;
    }

    .curriculum-card-container {
        padding: 0 24px;
        flex-direction: column;
    }

    .arrow-container {
        display: none;
    }

    .curriculum-card>.curriculum-card-title {
        font-size: 1.9rem;
    }

    .curriculum-card>.des {
        font-size: 1.4rem;
    }

    .read-more {
        font-size: 1.5rem;
    }

    /* stories  */
    .small-card-container {
        padding: 0 24px;
        width: 100%;
    }

    .small-card-content {
        padding: 30px 10px;
    }

    .small-card-title {
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        font-weight: 700;
    }

    .small-card-btn span {
        top: -15px;
        padding: 6px 15px;
        font-size: 1.22rem;
    }

    /* footer  */
    footer {
        padding: 50px 0;
    }

    .footer-row {
        flex-direction: column;
        padding: 0 24px;
        width: 90%;
    }

    .footer-row .brand-text {
        display: block;
        font-size: 3.50rem;
    }

    .footer-row .banner-des {
        font-size: 1.77rem;
        width: 100%;
    }

    .footer-row .footer-col-title {
        margin-bottom: 15px;
        margin-top: 25px;
        font-size: 2.26rem;
    }


    .footer-row ul li a {
        font-size: 1.77rem;
    }
}