@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #000;
}

.text-white {
    color: #fff;
}

.text-warning {
    color: #FEA301;
}

.text-primary {
    color: #01ACFD;
}

.text-info {
    color: #05D4DF;
}

.text-success {
    color: #28A745;
}